#head {
  height: 22px;
  width: 100%;
  display: flex;
  //overflow: auto;
  //box-sizing: border-box;
  #ham-menu {
    width: 20%;
    background: #d93227;
  }
  #title {
    background: #75d727;
    width: 60%;
  }
  #right-button {
    background: deeppink;
    width: 20%;
  }
}

#main {
  height: calc(100% - 72px);
  width: 100%;
  background: grey;

  #space{
    height: 25%;
  }

  #logo {
    margin: 0px auto 60px;
    width: fit-content;
  }

  #resetPassBox {
    height: 120px;
    width: 100%;

  }
}

#menu-bottom {

}

#space{
  height: 30%;
}
#email{
  padding-top: 57px;
}
#password{
  padding-top: 5px;

}
#log-in{

  margin-top: 30px;
}