
  .ham-menu {
    position: absolute;
  }

  .title {
    //height: 35px;
    width: 100%;
    //height: 40px;
    //box-sizing: border-box;
  }


.logo {
  margin: 150px auto 60px;
  width: fit-content;
}

.resetPassBox {
  height: 120px;
  width: 100%;

}
