<div id="wrapper">
  <div id="title">{{title}}</div>
  <div id="buttons">
    <!--<div (click)="toggleButton()" [(ngModel)]="isActive" [style.background]="onButtonColor |async" id="on">on</div>-->
    <!--<div (click)="toggleButton()" [(ngModel)]="isActive" [style.background]="offButtonColor |async" id="off">off</div>-->

    <div (click)="toggleButton()" [style.background]="onButtonColor.color" id="on">{{nameTrue}}</div>
    <div (click)="toggleButton()"  [style.background]="offButtonColor.color" id="off">{{nameFalse}}</div>
  </div>
</div>