
#head {
  height: 22px;
  width: 100%;
  display: flex;
  //overflow: auto;
  //box-sizing: border-box;
  #left-button {
    width: 20%;
    background: var(--dev-color1);
  }
  #title {
    background: var(--dev-color2);
    width: 60%;
  }
  #right-button {
    background: var(--dev-color3);
    width: 20%;
  }
}

#main {
  height: calc(100% - 72px);
  width: 100%;
  background: var(--dev-color4);
  //grid-template-rows: repeat(30, 1fr);
  //grid-template-columns: repeat(1, 1fr);
  //display: grid;
  //display: block;
  //box-sizing: border-box;
  #input {
    padding-top: 10px ;
    //grid-row: 1/1;
    //grid-column: 1/1;
    padding-bottom: 5px;
  }
  #descreption {
    height: calc(30% - 50px);;
    //grid-column: 1/1;
    //grid-row: 2/10;
    padding-bottom: 12px;
  }

  #add-friend {
    height: calc(70% - 72px);
    //grid-column: 1/1;
    //grid-row: 10/27;
    //padding-bottom: 20px;
    //margin-bottom: 15px;

  }

  #button {
    //height: 10%;
    //grid-column: 1/1;
    //grid-row: 30/30;
    //padding-bottom: 5px;
    //margin-bottom: 15px;

  }
}

#menu-bottom {

}

