<div class="ham-menu" app-hamburger-menu=""></div>
<div valueContent="CREATE GROUP" app-title-page=""></div>
<div id="contentPage">
    <div id="input" title="GROUP NAME" app-input-with-title=""></div>
    <div id="textarea" title="DESCREPTION" app-textarea-with-title=""></div>
    <div id="user-list" title="ADD FRIEND TO GROUP" app-list-users-with-title=""></div>
    <div id="button" buttonTitle="CREATE" [colorButton]="colorButton" [colorTextOnButton]="colorTextOnButton" app-button-wide=""></div>
</div>
<div app-menu-bottom=""></div>