<div class="grid">

    <div id="left-button" app-button-back></div>
    <div id="title" valueContent="CREATE GROUP" app-title ></div>
    <div id="right-button"></div>


    <div id="input" [(value)]="form.groupName" title="GROUP NAME" app-input-with-title ></div>
    <div id="descreption" [(textareaValue)]="form.description"  title="DESCREPTION" app-textarea-with-title ></div>
    <div id="add-friend" title="ADD FRIEND TO GROUP" app-list-users-with-title>

        <ng-container *ngFor="let friend of friends | async">
            <div [photoColor]="friend.getFriend().getPhoto().photo"  [objectName]="friend.getFriend().getNick()" [iconImg]="image"  app-object-with-x ></div>
        </ng-container>
    </div>

    <div id="button" buttonTitle="CREATE" [colorButton]="colorButton" [colorTextOnButton]="colorTextOnButton"
         app-button-wide ></div>
</div>