@import "~src/stylesAssets";

#object {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  overflow: auto;
  #photo {
    float: left;
    height: 35px;
    width: 35px;
    margin: 0 10px;
    background-color: green;
    border-radius: 50%;

    @extend %rocket-icon;
  }

  #name {
    line-height: 35px;
  }
  .text {
    float: left;
    width: calc(100% - 95px);
    text-align: left;
    font-family: var(--font-Kanit);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-indent: 5px;
    color: var(--black-light);
  }

  #icon{
    float: left;
    height: 23px;
    width: 23px;
    margin: 6px;
    //background: url('~src/assets/colose-icon.svg') no-repeat center;
    //background-: no-repeat center;
    background-position: center;
    background-repeat: no-repeat;
  }

}