<div class="box">

    <ng-container *ngIf="texArea; then trueBlock; else falseBlock"></ng-container>
        <ng-template #trueBlock >
            <textarea [style.textAlign]="textAlign"   [placeholder]='title' class="text-field text-area" [(ngModel)]="value"></textarea>
        </ng-template>

        <ng-template #falseBlock >
            <input [style.textAlign]="textAlign" [placeholder]='title' class="text-field input" [(ngModel)]="value" />
        </ng-template>


    <button class="button">{{buttonTitle}}</button>
</div>