@import "~src/stylesAssets";

#wrapper-button {
  width: 100%;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  overflow: auto;

  #emoteIcon{
    float: left;
    height: 100%;
    width: 40px;
    background-size: 80%;
    position: absolute;
    left: 0;
    opacity: .5;
    background: url('~src/assets/icon_logo.svg') no-repeat center;
  }
  #text-content {
    //height: 100%;
    width: 100%;
    float: left;
    //width: calc(100% - 40px);
    margin: 0;
    //padding: 3px;
    border: none;
    outline: none;
    padding: 3px 42px 3px 43px;
    border-radius: 0px 10px;
    box-sizing: border-box;
    font-size: 1.16em;
  }
  #red-button {
    //display: block;
    float: left;
    height: 100%;
    width: 40px;
    margin: 0;
    border-radius: 0px 10px;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    background: var(--orange) url('~src/assets/send-icon.svg') no-repeat center;
    background-size: 25px;

    cursor: pointer;
  }
}
