
#head {
  height: 22px;
  width: 100%;
  display: flex;
  //overflow: auto;
  //box-sizing: border-box;

  #ham-menu {
    width: 20%;
    background: var(--dev-color1);
  }
  #title {
    background: var(--dev-color2);
    width: 60%;
  }
  #right-button {
    background: var(--dev-color3);
    width: 20%;
  }
}

#main {
  height: calc(100% - 72px);
  //height: 100%;
  width: 100%;
  background: var(--der-background);
  //grid-template-rows: repeat(10, 1fr);
  //grid-template-columns: repeat(1, 1fr);
  //grid-gap: 0;
  //display: grid;

  #input-search {
    //grid-row-start: 1;
    //grid-column: 1/1;
    //grid-row: 1/2;
    //width: 100%;
    padding-top: 20px;
  }

  .element {
    padding: 5px;
  }

  .new-message {
    //grid-column: 1/1;
    //grid-row: 2/5;
    // 37 height of input element
    height: calc(32% - 10px);
    //height: 30%;
  }

  .last-conversation {
    //grid-column: 1/1;
    //grid-row: 5/11;
    // 20 parring-top of input element
    height: calc(68% - 20px);
    //height: 70%;
  }
}

#menu-bottom {

}


