@import "~src/stylesAssets";

%details{
  padding: 5px 0 2px;
  box-sizing: border-box;
  float: left;
  font-size: 1.2em;
}

#box-message {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  border-radius: 0 10px;
  color: var(--white-light);
  font-family: var(--font-Kanit);
  font-weight: 300;

  #messageOwner {
    @extend %details;
    text-align: left;
    width: 50%;
  }
  #date {
    @extend %details;
    text-align: right;
    padding-right: 8px;
    width: 50%;

  }
  #content {
    float: left;
    height: 50%;
    width: 100%;
    background: var(--white);

    box-sizing: border-box;
    padding: 10px 10px 15px;

    border-radius: 0 10px;
    font-size: 1.3em;
    color: var(--black);

  }
}