#box-message {
  box-sizing: border-box;
  width: 100%;
  height: min(52px);
  border-radius: 0px 10px;
  #messageOwner {
    float: left;
    width: 50%;
    text-align: left;
    background: none;
    box-sizing: border-box;
    display: inline;
  }
  #date {
    text-align: right;
    float: left;
    width: 50%;

    box-sizing: border-box;
    display: inline;
    padding-right: 5px;
  }
  #content {
    float: left;
    height: 50%;
    width: 100%;
    background: var(--white);
    box-sizing: border-box;
    padding-left: 5px;

  }
}