
%body-shape {
  width: 100%;
  height: 100%;
  float: left;
}

%absolute-element {
  position: absolute;
}

.bg{
  background-color: var(--black-dark);
  float: left;
  width: 100%;
  height: 100%;
}

.layer {
  @extend %absolute-element;
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;


  .body {
    @extend %body-shape;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .mask {
    @extend %body-shape;
    background-color: var(--cyan);
    opacity: 0.9;
  }

  .image {
    @extend %body-shape;
    background-image: url("../../../assets/joel-filipe-191372-unsplash.jpg");
    background-size: cover;
  }

}

