
@import "~src/stylesAssets";


.center-body{
  @extend %full-size;
  display: flex;
}

.bg{

  // only for mobile
  @media (pointer:none), (pointer:coarse) {
    max-width: 100%;
  }

  @extend %full-size;
  position: relative;
  max-width: 500px;
  background-color: var(--black-dark);
  margin: auto;
}

.layer {
  @extend %full-size;
  position: absolute;
  margin: auto;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;


  .body {
    @extend %full-size;
  }

  .mask {
    @extend %full-size;
    background-color: var(--cyan);
    opacity: 0.9;
  }

  .image {
    @extend %full-size;
    background-image: url("~src/assets/joel-filipe-191372-unsplash.jpg");
    background-size: cover;
  }

}

