#wrapper {
  //background: var(--dev-color1);
  border: none;
  outline: none;
  #first-line {
    width: 100%;
    height: 140px;
    display: flex;
    #box-left {
      margin-top: 70px;
      width: calc(50% - 70px);
      height: 70px;

      border: none;
      outline: none;

      background: var(--white-light);
    }
    #bow {
      border: none;
      outline: none;
      display: flex;
      height: 140px;
      width: 140px;
      //background: var(--dev-color2);
      background: var(--white-light);
      background: url("../../../assets/subtract.svg") no-repeat center bottom;
      align-items: center;
      justify-items: center;
      #photo {
        width: 115px;
        height: 115px;
        border: 3px solid var(--red);
        margin: auto auto;
        border-radius: 50%;
        background: var(--dev-color3);
      }

    }
    #box-right {
      margin-top: 70px;
      width: calc(50% - 70px);
      height: 70px;

      border: none;
      outline: none;
      background: var(--dev-color4);
      background: var(--white-light);
      border-top-right-radius: 10px;
    }
  }
  #bottom {
    border: none;
    outline: none;
    width: 100%;
    height: 150px;
    background: var(--dev-color5);
    background: var(--white-light);
    border-bottom-left-radius: 10px;
  }
}