#wrapper {
  //background: var(--dev-color1);
  border: none;
  outline: none;
  #first-line {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    outline: none;
    #box-left {
      margin-top: 70px;
      width: calc(50% - 70px);
      height: 70px;

      border: none;
      outline: none;

      background: var(--white-light);
    }
    #bow {
      border: none;
      outline: none;
      display: flex;
      height: 140px;
      width: 140px;
      //background: var(--dev-color2);
      background: var(--white-light);
      background: url("../../../assets/subtract.svg") no-repeat center bottom;
      align-items: center;
      justify-items: center;
      #photo {
        width: 115px;
        height: 115px;
        border: 3px solid var(--red);
        margin: auto auto;
        border-radius: 50%;
        background: var(--dev-color3);
        background: grey;
      }

    }
    #box-right {
      margin-top: 70px;
      width: calc(50% - 70px);
      height: 70px;

      border: none;
      outline: none;
      background: var(--dev-color4);
      background: var(--white-light);
      border-top-right-radius: 10px;
    }
  }
  #bottom {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: var(--dev-color5);
    background: var(--white-light);
    border-bottom-left-radius: 10px;
    #title {
      width: 100%;
      min-height: 20px;
      height: content-box;
      font-size: 1.41em;
      text-align: center;

      font-family: var(--font-Kanit);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 9px;
      padding-bottom: 9px;
    }
    #content {
      width: 100%;
      height: 100%;
      min-height: 101px;
      font-family: var(--font-Kanit);
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 11px;
      text-align: justify;
      padding-left: 9px;
      padding-right: 9px;
      box-sizing: border-box;
    }
  }
}