/* You can add global styles to this file, and also import other style files */


// Colors

:root {
  --red-light: #ff5a4f;
  --red: #ed463b;
  --red-dark: #d93227;

  --green-light: #9dff4f;
  --green: #89ed3b;
  --green-dark: #75d727;

  --orange-light: #ff694f;
  --orange: #ed553b;
  --orange-dark: #d94127;

  --yellow-light: #ffc548;
  --yellow: #f2b134;
  --yellow-dark: #de9d20;

  --cyan-light: #239697;
  --cyan: #068587;
  --cyan-dark: #007173;

  --white-light: #ffffff;
  --white: #eaeaea;
  --white-dark: #d6d6d6;

  --black-light: #464646;
  --black: #323232;
  --black-dark: rgba(30, 30, 30, 0.95);

  --back-shadow: rgba(0, 0, 0, 0.25);
}
