<div class="grid">
    <div id="left-button" app-button-back></div>
    <div id="title" valueContent="" app-title></div>
    <div id="right-button"></div>

    <!--<div id="box-profile" [userObservable]="getUserObs()" app-box-profiles></div>-->
    <div id="bow">
        <div [style.backgroundColor]="userObse.getPhoto().photo" id="photo"></div>
    </div>
    <!--<div [style.display]="confirmStatus" id="confirmComponent" (onCancel)="onCancel()" (onConfirm)="onConfirm()"  [title]="titleConfirmBox" confirm-box=""></div>-->

    <div id="menu-bottom" app-menu-bottom=""></div>

</div>