.box-user-listA {
  height: 100%;
  width: 100%;
min-height: 35px;
  //margin-bottom: 50px;
  margin: 0;
  border: 0;

  #title {
     color: var(--white-light);
     //padding: 8px 0 8px 0;
    padding-top: 8px;
    padding-bottom: 5px;
     margin: 0;
    font-size: 1.16em;
     font-family: var(--font-Wallpoet);
     font-weight: 400;

   }
  .list {
    height: calc(100% - 50px);
    overflow: scroll;
    overflow-x: hidden;
    //padding: 20px 10px;
    background: var(--white-light);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px;
    border: 0;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-Wallpoet);
    font-weight: 400;
  }
}