<div [style.display]="'none'" [@hide-bg]="backgroundAnimationStatus" (click)="leftMenuService.toggle()" class="wrapper">
</div>

<div [style.display]="'none'" [@hide-menu]="backgroundAnimationStatus" id="menu">
    <div id="logo"></div>
    <div [backgroundColor]="backgroundColorList" id="groups" title="GROUP CONVERSATION"
         app-list-users-with-title="">
        <ng-container *ngFor="let group of groups">
            <div [messageCounter]="group.noReadMessages" [objectName]="group.name" app-object-with-status=""></div>
        </ng-container>
    </div>
    <div [backgroundColor]="backgroundColorList" id="friends" title="FRIENDS" app-list-users-with-title="">
        <ng-container *ngFor="let user of users">
            <div (click)="showConversation()" [messageCounter]="user.noReadMessages" [objectName]="user.nick" app-object-with-status=""></div>
        </ng-container>
    </div>
</div>