<div id="head">
    <div id="ham-menu" app-hamburger-menu=""></div>
    <div id="title" valueContent="HOME" app-title-page=""></div>
    <div id="right-button"></div>
</div>
<div id="main">
    <div id="space"></div>
    <div id="logo" app-big-logo=""></div>
    <div id="email" title="EMAIL" titleInside="" app-input-with-title=""></div>
    <div id="password" title="PASSWORD" titleInside="" app-input-with-title=""></div>
    <div (click)="logIn()" [colorButton]='colorButton' [colorTextOnButton]="colorTextOnButton" id="log-in"
         buttonTitle="LOG IN" app-button-wide=""></div>
</div>