@import "~src/stylesAssets";



.grid{
  @extend %page-default-padding;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(10 , 1fr);
  grid-template-rows: repeat(20 , 1fr);
  grid-gap: 10px;
  min-height: 560px;

}

#ham-menu{
  grid-column: 1/3;
  grid-row: 1/3;
}

  #title {
    grid-column: 3/9;
    grid-row: 1/3;
  }
  #right-button {
    grid-column: 9/11;
    grid-row: 1/3;
  }

  #logo{
    grid-column: 1/11;
    grid-row: 3/9;
    align-self: center;
  }

  #form{
    grid-column: 1/11;
    grid-row: 9/16;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,min-content);
    grid-gap: 10px;

    #inputs{
      grid-column: 1/3;
      grid-row: 1/4;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(3 ,min-content);
    }

  }

  #github{
    grid-column: 4/8;
    grid-row: 19/21;
    align-self: end;
  }