<div class="grid">
        <div id="left-button" navigateToUrl="/home" app-button-back></div>
        <div id="title" valueContent="CONTACT" app-title=""></div>
        <div id="right-button"></div>

        <div id="header">Leave for ous your opinion</div>
        <div id="email-input" titleInside="Your email" [(value)]="email" app-input-with-inside-text ></div>
        <div (onClickButton)="send()" textAlign="left" [(value)]="content" id="text-area" title="Type what you think" buttonTitle="Send" [texArea]="true" app-input-with-button ></div>

        <div id="emails-section" app-information-support></div>

    <div id="github" (click)='openGithub()' fontSize='10px' valueContent="Github" app-title></div>
</div>

