
#head {
  height: 22px;
  width: 100%;
  display: flex;
  #ham-menu {
    width: 20%;
    background: var(--dev-color1);
  }
  #title {
    background: var(--dev-color2);
    width: 60%;
  }
  #right-button {
    background: var(--dev-color3);
    width: 20%;
  }
}

#main {
  height: calc(100% - 72px);
  width: 100%;
  background: var(--der-background);

  #box-profile {
    width: 100%;
    height: content-box;
  }
  #button-wrapper {
    height: calc(100% - 300px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

    #add-friend {
      width: 100%;
      height: 100%;
      background-size: 80%;
      background: var(--white-light) url("../../../assets/add-person-icon.svg") no-repeat center;
    }
    #friends{
      width: 100%;
      height: 100%;
      background-size: 80%;
      background: var(--white-light) url("../../../assets/friends-icon.svg") no-repeat center;
    }
    #groups{
      width: 100%;
      height: 100%;
      background-size: 80%;
      //background: #d93227;
      background: var(--white-light) url("../../../assets/groups-icon.svg") no-repeat center;
    }
    #search{
      width: 100%;
      height: 100%;
      background-size: 80%;
      background: var(--white-light) url("../../../assets/search-icon.svg") no-repeat center;
    }
    .button {
      border-radius: 0px 10px;
      max-width: 175px;
      max-height: 175px;
      flex-basis: 48%;
      flex-shrink: 2;
      flex-grow: 1;
      height: 50%;
      margin: 5px;
    }
  }
}

#menu-bottom {

}


