
#head {
  height: 22px;
  width: 100%;
  display: flex;
  //overflow: auto;
  //box-sizing: border-box;
  #ham-menu {
    width: 20%;
    background: var(--der-color1);
  }
  #title {
    background: var(--der-color2);
    width: 60%;
  }
  #right-button {
    background: var(--der-color3);
    width: 20%;
  }
}

#main {
  height: calc(100% - 72px);
  width: 100%;
  background: var(--der-background);

  .log-out-frame{

    padding-top: 50%;
  }
}

#menu-bottom {

}