<div id="head">
    <div id="ham-menu" app-hamburger-menu=""></div>
    <div id="title" valueContent="HOME" app-title=""></div>
    <div id="right-button"></div>
</div>
<div id="main">
    <div id="space"></div>
    <div id="test" [content]="'    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet neque veritatis nihil recusandae, omnis velit, expedita non, dolore maiores tempore debitis consequuntur doloribus pariatur esse incidunt.'" [title]="'Paweł Jastrzębski'" app-box-profiles=""></div>
    <!--&lt;!&ndash;<div class="input-search" app-input-search=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="input-search" app-input-search=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="s" title="ADD FRIEND TO GROUP" app-list-users-with-title=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="NEW MESSAGES" class="new-message" app-list-users-with-title=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="user-list" title="ADD FRIEND TO GROUP" app-list-users-with-title=""></div>&ndash;&gt;-->
    <!--<input type = "submit" value = "Submit" />-->
    <!--<div class="email-input" titleInside="Your email" app-input-with-inside-text=""></div>-->
    <!--<div [objectName]='objectname'  app-object-with-checkbox=""></div>-->

</div>
<div id="menu-bottom" app-menu-bottom=""></div>
