@import "~src/stylesAssets";

.grid {
  @extend %default-grid;
  height: calc(100% - 50px);
  float: left;
  grid-gap: 20px;
  padding-bottom: 0;


  #left-button {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #title {
    grid-column: 3/9;
    grid-row: 1/2;
  }

  #right-button {
    grid-column: 9/11;
    grid-row: 1/2;
  }

  #input-search {
    grid-column: 1/11;
    grid-row: 2/3;
  }

  #group-list {
    grid-column: 1/11;
    grid-row: 3/21;
    justify-content: end;
  }

}

hr{
  opacity: .5;
}

