<div class="grid">

    <div id="left-button" app-button-back=""></div>
    <div id="title" valueContent="OPTIONS" app-title=""></div>
    <div id="right-button"></div>

    <div id="options-list">
        <div id="display" title="DISPLAY" app-list-users-with-title="">
            <div>
                <div (click)="triggerDisplayTheme()" title="Theme" [state]=currentColor.name
                     app-button-display=""></div>
                <ng-container *ngFor="let color of colorsList">
                    <div *ngIf="isDisplayTheme" class="element" (click)="setBackground(color)" [title]=color.name
                         [colorObject]=color.color
                         app-button-display-option=""></div>
                </ng-container>
            </div>

            <div>
                <div (click)="triggerDisplayFont()" title="Font size" [state]=currentFont app-button-display=""></div>
                <ng-container *ngFor="let font of fontSizes">
                    <div *ngIf="isDisplayFont" class="element" (click)="setFont(font)" [title]=font
                         app-button-display-option=""></div>
                </ng-container>
            </div>

            <div>
                <div (click)="triggerDisplayEmoji()" title="Emoji type" [state]=currentEmoji
                     app-button-display=""></div>
                <ng-container *ngFor="let type of emojiTypeList">
                    <div *ngIf="isDisplayEmoji" class="element" (click)="setType(type)" [title]="type" [emoji]="type"
                         app-button-display-option=""></div>
                </ng-container>
            </div>

            <div>
                <div (click)="triggerDisplayQuality()" title="Emoji quality" [state]="currentQuality" app-button-display=""></div>
                <ng-container *ngFor="let quality of emojiQualityList">
                    <div *ngIf="isDisplayEmojiQuality" class="element" (click)="setQuality(quality)" [title]="quality"
                         app-button-display-option=""></div>
                </ng-container>

            </div>
        </div>

        <div id="notification" title="NOTIFICATIONS" app-list-users-with-title="">
            <div title="Sound" (onToggle)="setSound($event)" [isActive]=soundActive app-button-wide-on-off=""></div>
            <div title="Show" (onToggle)="setMsgNotifi($event)" [isActive]=isMessageActive
                 app-button-wide-on-off=""></div>
        </div>
    </div>
</div>
<div id="menu-bottom" app-menu-bottom=""></div>